{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{club.name}}{% endblock page_title %}

{% block content %}
{% include 'components/menu.html' with clubs_active="active"%}
<div class="layout-page">
	{% include 'components/navbar.html' with user=user %}
	
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<h3 class="fw-bold py-3 mb-3">{{club.title}}</h3>
			
			<div class="row">
				<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
					<div class="card">
						<img class="card-img" src="{{ club.img.url }}" alt="{{ club.name }}">
					</div>
				</div>
				
				<div class="col-md-6 col-lg-8 col-xl-8 mb-4">
					<div class="card">
						<div class="card-body">
							<p class="card-text">
								{{club.description|linebreaks}}	
							</p>

							<p class="card-text fw-bold">
								{% if user in club.users.all %}
									{% include 'components/modal.html' with request_url=club.get_absolute_url|add:"/leave" method="GET" text="Confirm that you want to leave this club." %}
									<button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#delete">
										Leave
									</button>
								{% else %}
									<a href="{{club.get_absolute_url}}/join" type="button" title="join" class="btn btn-primary">
										Join
									</a>
								{% endif %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		{% include 'components/footer.html' %}
		<div class="content-backdrop fade"></div>
	</div>
</div>
{% endblock content %}