{% extends 'base.html' %}
{% load static %}

{% block page_title %}Events{% endblock page_title %}

{% block content %}
<div class="col-12">
	<h4 class="fw-bold py-3 mb-3"><span class="text-muted fw-light">List of</span> Events</h4>

	<div class="row">		
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="card h-60">
				<img class="card-img-top" src="{% static 'assets/img/elements/2.jpg' %}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Event title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the bulk of the card's content.
					</p>
					<a href="javascript:void(0)" class="btn btn-outline-primary">details</a>
				</div>
			</div>
		</div>
	
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="card h-60">
				<div class="card-body">
					<h5 class="card-title">Event title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the bulk of the card's content.
						</p>
						<a href="javascript:void(0)" class="btn btn-outline-primary">details</a>
					</div>
				<img class="card-img-bottom" src="{% static 'assets/img/elements/1.jpg' %}" alt="Card image cap">
			</div>
		</div>
	
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="card h-60">
				<img class="card-img-top" src="{% static 'assets/img/elements/3.jpg' %}" alt="Card image cap">
				<div class="card-body">
				<h5 class="card-title">Event title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
				<a href="javascript:void(0)" class="btn btn-outline-primary">details</a>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="card h-60">
				<img class="card-img-top" src="{% static 'assets/img/elements/2.jpg' %}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Event title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the bulk of the card's content.
					</p>
					<a href="javascript:void(0)" class="btn btn-outline-primary">details</a>
				</div>
			</div>
		</div>
	
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="card h-60">
				<div class="card-body">
					<h5 class="card-title">Event title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the bulk of the card's content.
						</p>
						<a href="javascript:void(0)" class="btn btn-outline-primary">details</a>
					</div>
				<img class="card-img-bottom" src="{% static 'assets/img/elements/1.jpg' %}" alt="Card image cap">
			</div>
		</div>
	
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="card h-60">
				<img class="card-img-top" src="{% static 'assets/img/elements/3.jpg' %}" alt="Card image cap">
				<div class="card-body">
				<h5 class="card-title">Event title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
				<a href="javascript:void(0)" class="btn btn-outline-primary">details</a>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="card h-60">
				<img class="card-img-top" src="{% static 'assets/img/elements/2.jpg' %}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Event title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the bulk of the card's content.
					</p>
					<a href="javascript:void(0)" class="btn btn-outline-primary">details</a>
				</div>
			</div>
		</div>
	
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="card h-60">
				<div class="card-body">
					<h5 class="card-title">Event title</h5>
					<p class="card-text">
						Some quick example text to build on the card title and make up the bulk of the card's content.
						</p>
						<a href="javascript:void(0)" class="btn btn-outline-primary">details</a>
					</div>
				<img class="card-img-bottom" src="{% static 'assets/img/elements/1.jpg' %}" alt="Card image cap">
			</div>
		</div>
	
		<div class="col-md-6 col-lg-4 mb-3">
			<div class="card h-60">
				<img class="card-img-top" src="{% static 'assets/img/elements/3.jpg' %}" alt="Card image cap">
				<div class="card-body">
				<h5 class="card-title">Event title</h5>
				<p class="card-text">
					Some quick example text to build on the card title and make up the bulk of the card's content.
				</p>
				<a href="javascript:void(0)" class="btn btn-outline-primary">details</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}