{% extends 'base.html' %}
{% load static %}

{% block page_title %}Events{% endblock page_title %}

{% block content %}
{% include 'components/menu.html' with user=user club=club event_active="active"%}
<div class="layout-page">
	{% include 'components/navbar.html' with user=user %}
	
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="row">
				<div class="col-12">
					<h4 class="fw-bold py-3 mb-3">Events<span class="text-muted fw-light"> you have joined</span></h4>
					<div class="row">
						{% for event in events%}
							<div class="col-md-6 col-lg-4 mb-3">
								<div class="card h-60">
									<img class="card-img-top" src="{{ event.img.url }}" alt="{{ event.title }}">
									<div class="card-body">
										<h5 class="card-title">{{ event.title }}</h5>
										<p class="card-text">
											{{ event.short_desc|linebreaks }}
										</p>
										<a href="{{ event.get_absolute_url }}" class="btn btn-outline-primary">details</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	
		{% include 'components/footer.html' %}
		<div class="content-backdrop fade"></div>
	</div>
</div>

{% endblock content %}