<div class="modal fade hide" id="delete" tabindex="-1" style="display: none;" aria-modal="true"
	role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalCenterTitle">Are you sure?</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						{{text}}
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
					Close
				</button>
				<form action="{{request_url}}" method="{{method}}">
					{% csrf_token %}
					<button type="submit" class="btn btn-danger">Confirm</button>
				</form>
			</div>
		</div>
	</div>
</div>